@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  font-family: 'Ubuntu', sans-serif;
}

.warp {
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-rows: 7% 84% 9%;
  grid-template-columns: 1fr;
  grid-template-areas:
  "header"
  "content"
  "footer";
  margin: 0;
}

#includes {
  height: 100%;
}

header{
  background-color: #2ecc71;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

footer {
  border-top: 1px solid #7f8c8d;
}

.appName {
  margin: 0;
  padding: 0;
  color: white;
}

.home {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home h1 p {
  text-align: center;
}

.home h1 {
  font-size: 48px;
  color: #7f8c8d;
}

.home p {
  font-size: 18px;
  color: #34495e;
}

.footer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.footer button {
  font-size: 34px;
  border: 0;
  background: 0;
  margin: 0 15px 0 15px;
  color: #2ecc71;
  outline: 0;
}

.footer button:active {
  font-size: 30px;
}

.dictionary{
  overflow: auto;
  height: 90%;

}
.table {
  height: 90%;
}
.switch-block {
  height: 10%;
}
.dictionary table {
  width:100%;
  table-layout: fixed;
}

.dictionary table tr:nth-child(even) {
  background-color: #eee;
}

.tbl-header {
  height: 50px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px gray;
  position: fixed;
  background: white;
}

.tbl-header th {
  font-size: 18px;
  color: #34495e;
}

.tbl-content {
  margin-top: 50px;
}

.tbl-content td{
  font-size: 24px;
  text-align: center;
  height: 50px;
  color: #2c3e50;
}

/* swither */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2ecc71;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ecc71;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2ecc71;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switcher-block {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spec {
  font-size: 24px;
  margin: 0 20px 0 20px;
  color: gray;
}

.active {
  color: #2c3e50;
}

.btn-block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 60px;
  width: 300px;
  font-size: 30px;
  background-color: #2ecc71;
  border-radius: 7px;
  border: 0;
  color: white;
  border-bottom: 7px solid rgb(44, 62, 80, .4);
  outline: 0;
}

.btn:active {
  width: 250px;
  height: 50px;
  font-size: 24px;
}

.about {
  height: 100%;
  text-align: justify;
  font-size: 18px;
  overflow: auto;
  padding: 5px 10px 10px 0;
}

.about p {
  margin: 0;
}

@media (min-width: 1024px) {
  .warp {
    border-right: 1px solid rgb(127, 140, 141, .4);
    border-left: 1px solid rgb(127, 140, 141, .4);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    height: 100vh;
    width: 400px;
    grid-template-rows: 7% 84% 9%;
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "content"
    "footer";
  }
  
  .dictionary table {
    width:400px;
    table-layout: fixed;
  }
}