<tbody>
    <tr>
      <td>the compressor</td>
      <td>компрессор</td>
    </tr>
    <tr>
      <td>accumulator</td>
      <td>Аккумулятор</td>
    </tr>
    <tr>
      <td>a belt of a drive of the generator and the water pump</td>
      <td>ремень привода генератора и водяного насоса</td>
    </tr>
    <tr>
      <td>a branch pipe of inlet collectors</td>
      <td>патрубок впускных коллекторов</td>
    </tr>
    <tr>
      <td>a cover of the first support of a crankshaft</td>
      <td>крышка первой опоры коленчатого вала</td>
    </tr>
    <tr>
      <td>accumulator battery</td>
      <td>Аккумуляторная батарея</td>
    </tr>
    <tr>
      <td>Air Filter</td>
      <td>Воздушный фильтр</td>
    </tr>
    <tr>
      <td>an exhaust manifold</td>
      <td>выпускной коллектор</td>
    </tr>
    <tr>
      <td>Barbell</td>
        <td>Штанга</td>
      </tr>
      <tr>
        <td>block of intermediate gears</td>
        <td>блок промежуточных шестерен</td>
      </tr>
      <tr>
        <td>Brake chamber</td>
        <td>Тормозные камеры</td>
      </tr>
      <tr>
        <td>Brake cylinder</td>
        <td>Тормозной цилиндр</td>
      </tr>
      <tr>
        <td>Brake disk</td>
        <td>Тормозной диск</td>
      </tr>
      <tr>
        <td>Brake drum</td>
        <td>Барабан</td>
      </tr>
      <tr>
        <td>Brake master cylinder</td>
        <td>Главный тормозной цилиндр</td>
      </tr>
      <tr>
        <td>Brake pad</td>
        <td>Тормозная колодка</td>
      </tr>
      <tr>
        <td>Brake pedal</td>
        <td>Педаль тормоза</td>
      </tr>
      <tr>
        <td>Camshaft</td>
        <td>Распределительный вал</td>
      </tr>
      <tr>
          <td>Carburetor</td>
          <td>Карбюратор</td>
      </tr>
      <tr>
        <td>Carter</td>
        <td>Картер</td>
      </tr>
      <tr>
        <td>Collector manifold</td>
        <td>Коллектор</td>
      </tr>
      <tr>
        <td>connecting rod</td>
        <td>шатун</td>
      </tr>
      <tr>
        <td>crankshaft/td>
        <td>коленчатый вал</td>
      </tr>
      <tr>
        <td>distributor</td>
        <td>Распределитель зажигания</td>
      </tr>
      <tr>
        <td>distributor cover</td>
        <td>Крышка распределителя</td>
      </tr>
      <tr>
        <td>Engine</td>
        <td>Двигатель</td>
      </tr>
      <tr>
        <td>Engine block</td>
        <td>Блок цилиндров</td>
      </tr>
      <tr>
        <td>Expansion device</td>
        <td>Разжимное устройство</td>
      </tr>
      <tr>
        <td>flywheel</td>
        <td>маховик</td>
      </tr>
      <tr>
        <td>Generator</td>
        <td>Генератор</td>
      </tr>
      <tr>
        <td>skill competition</td>
        <td>конкурс мастерства</td>
      </tr>
      <tr>
        <td>high voltage wires</td>
        <td>Высоковольтные провода</td>
      </tr>
      <tr>
        <td>ignition coil</td>
        <td>Катушка зажигания</td>
      </tr>
      <tr>
        <td>Ignition lock</td>
        <td>Модуль зажигания</td>
      </tr>
      <tr>
        <td>abs</td>
        <td>модуль числа</td>
      </tr>
      <tr>
        <td>manual fuel feed pump</td>
        <td>ручной топливоподкачивающий насос</td>
      </tr>
      <tr>
        <td>Nozzle</td>
        <td>Форсунка</td>
      </tr>
      <tr>
        <td>octane-corrector</td>
        <td>Октан-корректор</td>
      </tr>
      <tr>
        <td>piston</td>
        <td>поршень</td>
      </tr>
      <tr>
        <td>Pulley</td>
        <td>Шкив</td>
      </tr>
      <tr>
        <td>pusher</td>
        <td>толкатель</td>
      </tr>
  </tbody>