<tbody>
    <tr>
      <td>Admission Fee</td>
      <td>Вступительный Взнос</td>
    </tr>
    <tr>
      <td>Appeals Committee</td>
      <td>Апелляционный комитет</td>
    </tr>
    <tr>
      <td>Aspect of Sub Criteria</td>
      <td>Аспект подкритериев</td>
    </tr>
    <tr>
      <td>Assessment Advisor</td>
      <td>Советник по оценке</td>
    </tr>
    <tr>
      <td>Assessment Criteria</td>
      <td>Критерии оценки</td>
    </tr>
    <tr>
      <td>Assessment Specification</td>
      <td>Спецификация оценки</td>
    </tr>
    <tr>
      <td>Associate Member</td>
      <td>Ассоциированный член</td>
    </tr>
    <tr>
      <td>Best of Nation Award</td>
      <td>Премия «Лучший нации»</td>
    </tr>
    <tr>
      <td>Board of Directors(BoD)</td>
        <td>Совет директоров</td>
      </tr>
      <tr>
        <td>Certificate of Merit</td>
        <td>Почетная грамота</td>
      </tr>
      <tr>
        <td>Certificate of Participation</td>
        <td>Сертификат участника</td>
      </tr>
      <tr>
        <td>Chair of the Competitions Committee</td>
        <td>Председатель конкурсной комиссии</td>
      </tr>
      <tr>
        <td>Champion</td>
        <td>Чемпион</td>
      </tr>
      <tr>
        <td>Chief Executive Officer (CEO)</td>
        <td>Главный исполнительный директор (CEO)</td>
      </tr>
      <tr>
        <td>Chief Expert</td>
        <td>Главный Эксперт</td>
      </tr>
      <tr>
        <td>circulated Test Project</td>
        <td>распространенный тестовый проект</td>
      </tr>
      <tr>
        <td>CIS Closure Form</td>
        <td>Форма закрытия СНГ</td>
      </tr>
      <tr>
        <td>Code of Ethics</td>
        <td>Кодекс этики</td>
      </tr>
      <tr>
          <td>Communications Officer</td>
          <td>Сотрудник по связи</td>
      </tr>
      <tr>
        <td>Daily Assessment</td>
        <td>Ежедневная Оценка</td>
      </tr>
      <tr>
        <td>Demonstration Skill</td>
        <td>Демонстрационный навык</td>
      </tr>
      <tr>
        <td>Deputy Chief Expert</td>
        <td>Заместитель главного эксперта</td>
      </tr>
      <tr>
        <td>Director of Skills Competitions</td>
        <td>Директор конкурсов профессионального мастерства</td>
      </tr>
      <tr>
        <td>Discussion Forum</td>
        <td>Обсуждение форума</td>
      </tr>
      <tr>
        <td>Dispute Resolution</td>
        <td>Разрешение спора</td>
      </tr>
      <tr>
        <td>Interpreter</td>
        <td>Переводчик</td>
      </tr>
      <tr>
        <td>Judgement Marking Form</td>
        <td>Форма маркировки решения</td>
      </tr>
      <tr>
        <td>Marking Scheme</td>
        <td>Схема маркировки</td>
      </tr>
      <tr>
        <td>Observer</td>
        <td>Наблюдатель</td>
      </tr>
      <tr>
        <td>score</td>
        <td>счет</td>
      </tr>
      <tr>
        <td>skill competition</td>
        <td>конкурс мастерства</td>
      </tr>
      <tr>
        <td>Technical Description (TD)</td>
        <td>Техническое описание </td>
      </tr>
      <tr>
        <td>Mous</td>
        <td>Мышь</td>
      </tr>
      <tr>
        <td>array</td>
        <td>массив</td>
      </tr>
      <tr>
        <td>abs</td>
        <td>модуль числа</td>
      </tr>
      <tr>
        <td>const</td>
        <td>константа</td>
      </tr>
      <tr>
        <td>сos</td>
        <td>косинус</td>
      </tr>
      <tr>
        <td>object</td>
        <td>обьект</td>
      </tr>
      <tr>
        <td>mod</td>
        <td>остаток от деления</td>
      </tr>
      <tr>
        <td>property</td>
        <td>свойство</td>
      </tr>
      <tr>
        <td>random</td>
        <td>случайное число</td>
      </tr>
  </tbody>